	body {
   			background-color: white ;
       	  	   text-align:Black Italic  ;
       	  	   font-family: cursive; 
       	  	   color: ;
   		}
   		 .titulo{
   		 	   font-family: fantasy;
   		 	   text-align: center;
   		 	   color: black;

   		 } 
   		 .paragrafo {
       	  	color: black;
       	  	text-align: unset;
            Marley;<strong>

   